<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard</title>
<body>
	<div th:if="${access.authority} == 'ROLE_ADMIN'">
		<div>
			<a href="/register/admin/user">Register an Admin deacon?</a>
		</div>
		<div>
			<a href="/register-new-hymn">Register a new hymn?</a>
		</div>

		<div>
			<a href="/get-all-decons">Want to access all Deacons?</a>
		</div>
	</div>
	<div>
		<a th:href="@{/profile/{deaconId}(deaconId=${deacon.deaconId})}">Profile</a>
	</div>

	<form id="nav-right" action="/logout" method="POST">
		<input class="btn btn-primary" type="hidden"
			th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<button class="btn btn-primary" type="submit">Logout</button>
	</form>
</body>
</head>
</html>