<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard</title>
<body>

	<a href="/register-new-decon">Register a new decon?</a>
	<br>
	<a th:if="access == " href="/register-new-hymn">Register a new hymn?</a>
	<br>
	<a href="/get-all-decons">Want to access all Decons?</a>

	<form id="nav-right" action="/logout" method="POST">
		<input class="btn btn-primary" type="hidden"
			th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<button class="btn btn-primary" type="submit">
			Logout</button>
	</form>
</body>
</head>
</html>